@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* Color Primary */

  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Color Neutral */

  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* Font */

  --ff-OutFit: "Outfit", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: var(--Very-dark-blue-main-BG);
}
.container {
  background-color: var(--Very-dark-blue-card-BG);
  border-radius: 20px;
  margin: 70px auto;
  width: 400px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
.content {
  padding: 25px;
}
.content p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.cont-img {
  background-image: url(./images/image-equilibrium.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 380px;
  border-radius: 10px;
}

h1 {
  color: var(--White);
  font-family: var(--ff-OutFit);
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 27px;
}
p {
  color: var(--Soft-blue);
  font-family: var(--ff-OutFit);
  font-weight: var(--fw-300);
}
.price-container {
  display: flex;
}

.price,
.time {
  display: flex;
  flex: 50%;
  align-items: center;
  margin-bottom: 10px;
}
.price img,
.time img {
  height: 20px;
  padding-right: 5px;
}
.price p {
  color: var(--Cyan);
  font-weight: var(--fw-400);
  margin: 0;
  font-size: 19px;
}
.time {
  justify-content: end;
}
.time p {
  margin: 0;
  font-size: 19px;
}
hr {
  background-color: var(--Very-dark-blue-line);
  height: 1px;
  border-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.avatar {
  display: flex;
  align-items: center;
}
.avatar img {
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
  align-self: center;
}
.avatar p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 19px;
}
span {
  color: white;
}
